.navbar.navbar-expand-lg {
    background-color: rgb(31, 27, 27);

    .navbar-brand {
        color: aliceblue;
        font-size:xx-large;
        font-family: 'Courier New', Courier, monospace;

    }

    .nav-link.active {
        color: aliceblue;
    }

    .nav-link {
        color: aliceblue;
    }
    
}

.bi.bi-calculator {
    color: rgb(175, 148, 148);
    padding: 10px;
    
}


#banner-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


